<h2>Greetings!  <%= @name %></h2>
<p>The time is  <%= formatted_time(@time) %> </p>
<p>Times displayed: <%= @times_displayed %></p>



<p><%= link_to "strftime documentation", "https://apidock.com/ruby/DateTime/strftime"%></p>

<p><%= link_to "Good Bye", bye_path %></p>